/*
Bays - Milim CSS
Made by Bays

Too Many people were taking the last one
So I decided to write a new original one
I tried not to make it similar to anyone elses 
but I mean it's always gonna be near someones so yeah

Ask me before you use it. . . 
I dont mind if people use it
I would just like to be notified via Private or Regular Message

Changes with "=" borders are broad changes
Changes with "-" borders are specific changes

Find my Discord and a bunch of others things here https://bays-anilist-extras.carrd.co

I hope you like it :)
*/
/*
==================================================
                 Importing Fonts
==================================================
*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Chilanka&family=Delius+Swash+Caps&family=Sedgwick+Ave&family=Single+Day&display=swap");
/*
==================================================
                Importing Animations
==================================================
*/
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes pop {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}
@keyframes spin {
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(360deg)
    }
}
@keyframes move {
    from {
        transform: translate(1879px)
    }
    to {
        transform: translate(-1879px)
    }
}
@keyframes rainbow {
    0% {
        background-color: rgb(0, 105, 255);
    }

    10% {
        background-color: rgb(100, 0, 255);
    }

    20% {
        background-color: rgb(255, 0, 139);
    }

    30% {
        background-color: rgb(255, 0, 0);
    }

    40% {
        background-color: rgb(255, 96, 0);
    }

    50% {
        background-color: rgb(202, 255, 0);
    }

    60% {
        background-color: rgb(0, 255, 139);
    }

    70% {
        background-color: rgb(202, 255, 0);
    }

    80% {
        background-color: rgb(255, 96, 0);
    }

    85% {
        background-color: rgb(255, 0, 0);
    }

    90% {
        background-color: rgb(255, 0, 139);
    }

    95% {
        background-color: rgb(100, 0, 255);
    }

    to {
        background-color: rgb(0, 105, 255);
    }
}
/*
==================================================
                Setting Variables
==================================================
*/
:root {
    --tr: 0, 0, 0, 0.15;
    --bl: 15px;
    --bd:  2.5px solid var(--cl);
    --cl: #FC9DD6; /* CHANGE THESE NUMBERS TO THE HEX YOU WANT THE BORDERS TO BE DM ME IF YOU NEED HELP*/
    --ft: #fff; /* CHANGE THESE TO THE HEX YOU WANT THE BASE FONT COLOR TO BE DM ME IF YOU NEED HELP*/
    --sp: spin 2s infinite linear;
    --hv: all 0.5s ease-in-out, transform 0.75s ease-in-out, animation 0.75s ease-in-out;
    --sd: 0 0 7.5px black;
}
/*
==================================================
        Adding Background & Removing Banner
==================================================
*/
.banner[data-v-1cc2919e] {
    visibility: hidden;
}
.container[data-v-1cc2919e] {
    visibility: visible;
}
body {
    background: url("https://cdn.discordapp.com/attachments/860765199233843200/863530837084602388/dadyy.png") no-repeat fixed;
}
/*
==================================================
                Changes the Cursor
            HIT CTRL+F AND SEARCH "CURSOR"
 CHANGE ALL THE LINES TO YOUR SPECIFIC CURSOR URL
==================================================
*/
* {
    cursor: url("https://cdn.discordapp.com/attachments/860765199233843200/867494443926290462/pack2961.png"), auto;
}
a:hover {
    cursor: url("https://cdn.discordapp.com/attachments/860765199233843200/867494441472229396/pack2961_1.png"), auto;
}
/*
==================================================
                Changes the Spoiler
==================================================
*/
.markdown .markdown-spoiler::before {
    content: "Unleash A Demon Lord";
    font-family: Chilanka;
    font-size: 1rem;
    color: var(--ft) !important;
    border: var(--bd);
    border-radius: 10px;
    background-color: rgba(var(--tr));
}
.markdown .markdown-spoiler::before:hover {
    cursor: url("https://cdn.discordapp.com/attachments/860765199233843200/867494441472229396/pack2961_1.png"), auto;
}
/*
==================================================
                 Top Navbar Changes
==================================================
*/
/*
--------------------------------------------------
                Changes Background
--------------------------------------------------
*/
.wrap[data-v-4fbac4e1] {
    background-color: rgba(var(--tr));
    box-shadow: 0 5px 15px rgba(0,0,0,0.8);
    border-radius: 75px;
    margin-top: 1.5em;
    padding-right: 1.5em;
    height: 3.8em;
}
.nav {
    background-color: transparent !important;
}
/*
--------------------------------------------------
                  Adds Search Bar
--------------------------------------------------
*/
.links[data-v-4fbac4e1] {
    width: 400px;
}
.search[data-v-4fbac4e1] {
    width: 400px;
    padding: 5px 0 7.5px 10px;
    margin: 0 100px 0 50px;
    border: var(--bd);
    border-radius: 75px;
    background-color: rgba(var(--tr));
    backdrop-filter: blur(var(--bl));
    cursor: text;
}
.search[data-v-4fbac4e1]::after {
    content: "Search AniList";
    margin-left: 12.5px;
    margin-top: 3px;
    font-family: Chilanka;
    font-size: 2rem;
    color: var(--ft) !important;
}
/*
--------------------------------------------------
         Changes the Actual Search Interface
--------------------------------------------------
*/
.quick-search[data-v-bcbe965e] {
    backdrop-filter: blur(var(--bl));
}
.input[data-v-bcbe965e] {
    border: var(--bd);
    border-radius: 75px;
}
.result-col[data-v-bcbe965e] {
    border: var(--bd);
    border-radius: 15px;
    color: var(--ft) !important;
}
.title[data-v-bcbe965e] {
    font-size: 2.5rem !important;
    font-family: "Sedgwick Ave";
    color: var(--ft);
    margin-bottom: 1em !important;
}
.result[data-v-bcbe965e] {
    font-size: 2rem;
    font-family: Chilanka;
    color: var(--ft) !important;
}
.result[data-v-bcbe965e] > a {
    color: var(--ft) !important;
}
/*
--------------------------------------------------
                  Deletes AL Icon
--------------------------------------------------
*/
.logo[data-v-4fbac4e1] {
    display: none;
}
/*
--------------------------------------------------
    Deletes "Manga List" and "Anime List" Links
--------------------------------------------------
*/
.link[data-v-4fbac4e1]:nth-child(3) {
    display: none;
}
.link[data-v-4fbac4e1]:nth-child(4) {
    display: none;
}
/*
--------------------------------------------------
                Changes Link Fonts
--------------------------------------------------
*/
.link[data-v-4fbac4e1] {
    font-family: "Sedgwick Ave";
    font-size: 2rem;
    color: var(--ft) !important;
    transition: var(--hv);
}
/*
--------------------------------------------------
                Changes Link Hovers
--------------------------------------------------
*/
.link[data-v-4fbac4e1]:hover {
    text-shadow: var(--sd);
    color: var(--cl) !important;
}
/*
--------------------------------------------------
       Changes "Browse" Dropdown Background
--------------------------------------------------
*/
.dropdown[data-v-38edf8f8] {
    background-color: rgba(var(--tr)) !important;
    backdrop-filter: blur(var(--bl)) !important;
    border: var(--bd);
    border-radius: 20px !important;
}
/*
--------------------------------------------------
   Changes "Browse" Dropdown Font Color to White
--------------------------------------------------
*/
.primary-link-text[data-v-38edf8f8] {
    color: var(--ft) !important;
}
.secondary-links[data-v-38edf8f8]  > a {
    color: var(--ft) !important;
}
path[data-v-38edf8f8] {
    color: var(--ft) !important;
}
.footer[data-v-38edf8f8] > a {
    background-color: transparent !important;
    color: var(--ft) !important;
}
.footer[data-v-38edf8f8] {
    background-color: transparent !important;
}
/*
--------------------------------------------------
         Adds "Browse" Dropdown Font Hover
--------------------------------------------------
*/
.primary-link-text[data-v-38edf8f8]:hover {
    color: var(--cl) !important;
    text-shadow: var(--sd) !important;
}
a[data-v-38edf8f8]:hover {
    color: var(--cl) !important;
    text-shadow: var(--sd) !important;
}
path[data-v-38edf8f8]:hover {
    color: var(--cl) !important;
    filter: drop-shadow(var(--sd)) !important;
}
/*
==================================================
               All Dropdown Changes
==================================================
*/
/*
--------------------------------------------------
                Changes Background
--------------------------------------------------
*/
.dropdown[data-v-04b245e6] {
    background-color: rgba(var(--tr));
    backdrop-filter: blur(var(--bl));
    border: var(--bd);
    border-radius: 20px;
    margin-top: 0.25em;
}
.footer[data-v-04b245e6] {
    display: none;
}
/*
--------------------------------------------------
    Changes to Icons & Deletes Everything Else
--------------------------------------------------
*/
.label[data-v-04b245e6] {
    font-size: 0 !important;
}
.primary-link[data-v-04b245e6] {
    font-size: 0 !important;
    float: left;
}
.secondary-link[data-v-04b245e6] {
    font-size: 0;
}
.primary-link[data-v-04b245e6]:nth-child(1) {
    display: none !important;
}
.primary-link[data-v-04b245e6]:nth-child(3) {
    margin-left: 50px;
}
.icon[data-v-04b245e6] {
    width: 75px;
    height: 75px;
    padding: 15px;
    border-radius: 100%;
    font-size: 5rem !important;
    margin-left: -7.5px;
    background-color: black;
}
path[data-v-04b245e6] {
    color: var(--ft);
    transition: var(--hv);
}
path[data-v-04b245e6]:hover {
    color: var(--cl);
}
/*
==================================================
                  All Pfp Changes
==================================================
*/
/*
--------------------------------------------------
                   Aligning Pfp
--------------------------------------------------
*/
.banner[data-v-1cc2919e] {
    margin: 125px 0px 25px 0px;
}
.container[data-v-1cc2919e] {
    justify-content: center;
}
.banner-content[data-v-1cc2919e] {
    width: 0;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
    transform: scale(1.35);
}
/*
--------------------------------------------------
               Turns PFP into Circle
--------------------------------------------------
*/
.avatar[data-v-1cc2919e] {
    width: 0;
    height: 0;
    background-image: url("https://cdn.discordapp.com/attachments/820464052307230740/860651390769823794/MIlim-Profile-PfP.png") !important;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 100px 100px 125px 100px;
    z-index: 100;
    transition: var(--hv);
}
/*
--------------------------------------------------
               Adds PFP Spin Hover
--------------------------------------------------
*/
.avatar[data-v-1cc2919e]:hover {
    animation: var(--sp);
}
/*
--------------------------------------------------
               Changes Username Font
--------------------------------------------------
*/
.name[data-v-1cc2919e] {
    font-size: 4.75rem;
    font-family: "Sedgwick Ave";
    width: 100px;
    text-shadow: var(--sd);
    filter: none !important;
}
/*
--------------------------------------------------
        Follow Button Changes and Alignments
--------------------------------------------------
*/
.nav-btn[data-v-1cc2919e] {
    background-color: rgba(var(--tr)) !important;
    backdrop-filter: blur(var(--bl)) !important;
    border: var(--bd);
    border-radius: 20px;
    margin-bottom: 10px;
    margin-left: -5px;
    transition: var(--hv) !important;
}
.mod-badge-wrap[data-v-1cc2919e] {
    display: none;
}
.nav-btn[data-v-1cc2919e]:hover {
    text-shadow: 0 0 2.5px black !important;
    color: var(--cl) !important;
    transform: scale(1.1) !important;

}
.nav-btn[data-v-1cc2919e]:active {
    background-color: var(--cl);
}
.mod-badge-wrap[data-v-1cc2919e] {
    display: none !important;
}
.el-icon-arrow-down[data-v-1cc2919e] {
    display: none !important;
}
.dropdown[data-v-1cc2919e] {
    display: none !important;
}
/*
--------------------------------------------------
            Adds Badge after Username
--------------------------------------------------
*/
.name[data-v-1cc2919e]::after {
    content: "The Destroyer";
    color: var(--ft);
    font-size: 1.5rem;
    text-align: center;
    text-shadow: var(--sd) !important;
    width: 180px;
    border-radius: 10px;
    margin-top: 15px;
    padding: 5px;
    transition: 1s;
    animation: rainbow 20s infinite ease-in-out;
    display: block;
}
/*
--------------------------------------------------
              Adds Load In animation
--------------------------------------------------
*/
.name[data-v-1cc2919e] {
    animation: fade 1s 1 ease-in-out;
}
/*
==================================================
               Bottom Navbar Changes
==================================================
*/
/*
--------------------------------------------------
         Removes "Reviews" & "Subbmissions"
--------------------------------------------------
*/
.link[data-v-1cc2919e]:nth-child(7) {
    display: none;
}
.link[data-v-1cc2919e]:nth-child(8) {
    display: none;
}
/*
--------------------------------------------------
                Removes Background
--------------------------------------------------
*/
.nav-wrap[data-v-1cc2919e] {
    visibility: hidden;
}
/*
--------------------------------------------------
              Turns them into Buttons
--------------------------------------------------
*/
.link[data-v-1cc2919e] {
    width: 135px;
    background-color: rgba(var(--tr));
    backdrop-filter: blur(var(--bl));
    border: var(--bd);
    border-radius: 10px;
    text-shadow: none;
    visibility: visible !important;
    transition: var(--hv);
    color: var(--ft) !important;
}
/*
--------------------------------------------------
        Changes them to Icons & Spaces them
--------------------------------------------------
*/
.link[data-v-1cc2919e]:nth-child(1), .link[data-v-1cc2919e]:nth-child(2), .link[data-v-1cc2919e]:nth-child(3), .link[data-v-1cc2919e]:nth-child(4), .link[data-v-1cc2919e]:nth-child(5), .link[data-v-1cc2919e]:nth-child(6) {
    margin: 0 10px;
    font-size: 0;
}
.link[data-v-1cc2919e]:nth-child(1)::after {
    content: "\f007";
    font-family: FontAwesome;
    font-size: 2.5rem;
}
.link[data-v-1cc2919e]:nth-child(2)::after {
    content: "\f26c";
    font-family: FontAwesome;
    font-size: 2.5rem;
}
.link[data-v-1cc2919e]:nth-child(3)::after {
    content: "\f02d";
    font-family: FontAwesome;
    font-size: 2.5rem;
}
.link[data-v-1cc2919e]:nth-child(4)::after {
    content: "\f004";
    font-family: FontAwesome;
    font-size: 2.5rem;
}
.link[data-v-1cc2919e]:nth-child(5)::after {
    content: "\f012";
    font-family: FontAwesome;
    font-size: 2.5rem;
}
.link[data-v-1cc2919e]:nth-child(6)::after {
    content: "\f27a";
    font-family: FontAwesome;
    font-size: 2.5rem;
}
/*
--------------------------------------------------
                    Adds Hover
--------------------------------------------------
*/
.router-link-active[data-v-1cc2919e] {
    text-shadow: 0 0 5px black;
    color: var(--cl) !important;
}
.link[data-v-1cc2919e]:hover {
    transform: scale(1.1);
    color: var(--cl) !important;
}
.link[data-v-1cc2919e]:active {
    background-color: var(--cl) !important;
    text-shadow: 0 0 5px black;
}
/*
==================================================
               About Section Changes
==================================================
*/
/*
--------------------------------------------------
        Increases Length / Removes Scrollbar
--------------------------------------------------
*/
.about[data-v-5c30286e] > .content-wrap[data-v-5c30286e] {
    max-height: none !important;
}
/*
--------------------------------------------------
                Changes Background
--------------------------------------------------
*/
.about[data-v-5c30286e] > .content-wrap[data-v-5c30286e] { 
    background-color: rgba(var(--tr)) !important;
    backdrop-filter: blur(var(--bl)) !important;
    border: var(--bd);
    border-radius: 12.5px !important;
    font-family: Chilanka;
    color: var(--ft);
}
a {
    color: var(--cl) !important;
}
/*
--------------------------------------------------
                    Adds Hover
--------------------------------------------------
*/
.about[data-v-5c30286e] { 
    transition: var(--hv);
}
.about[data-v-5c30286e]:hover { 
    transform: scale(1.025);
}
/*
--------------------------------------------------
              Adds Load In animation
--------------------------------------------------
*/
.about[data-v-5c30286e] {
    animation: fade 1s 1 ease-in-out;
}
/*
==================================================
               Stats Overview Changes
==================================================
*/
/*
--------------------------------------------------
        Changes Background and deletes Footer
--------------------------------------------------
*/
.list-stats[data-v-5c30286e] {
    background-color: rgba(var(--tr)) !important;
    backdrop-filter: blur(var(--bl)) !important;
    border: var(--bd);
    border-radius: 20px !important;
    transition: var(--hv);
}
.footer[data-v-815ccddc] {
    display: none;
}
.progress[data-v-815ccddc] {
    display: none;
}
/*
--------------------------------------------------
  Deletes "Mean Score" and Makes the Rest Bigger
--------------------------------------------------
*/
.stat[data-v-815ccddc]:nth-child(2) {
    display: none;
}
.value {
    font-family: "Sedgwick Ave";
    font-size: 4rem !important;
    color: var(--cl) !important;
}
.label {
    font-family: Chilanka;
    font-size: 2.25rem; 
    color: var(--ft) !important;
}
/*
--------------------------------------------------
                    Adds Hover
--------------------------------------------------
*/
.list-stats[data-v-5c30286e]:hover {
    transform: scale(1.1);
}
/*
--------------------------------------------------
              Adds Load In animation
--------------------------------------------------
*/
.list-stats[data-v-5c30286e] {
    animation: fade 1s 1 ease-in-out;
}
/*
==================================================
      Section Header & Activity Editor Changes
==================================================
*/
/*
--------------------------------------------------
           Adds Text instead of "Activity
--------------------------------------------------
*/
.section-header[data-v-09492909] {
    font-size: 0;
}
.section-header[data-v-09492909]::before {
    content: "PLEASE SEND THIGHS";
    font-size: 2rem;
    font-family: "Sedgwick Ave";
    color: var(--ft) !important;
}
/*
--------------------------------------------------
             Changes Font for "Filter"
--------------------------------------------------
*/
.el-dropdown[data-v-09492909] {
    font-size: 2rem !important;
    font-family: "Sedgwick Ave";
    color: var(--ft) !important;
}
/*
--------------------------------------------------
              Changes Filter Dropdown
--------------------------------------------------
*/
.el-dropdown-menu[data-v-09492909] {
    background-color: rgba(var(--tr)) !important;
    backdrop-filter: blur(var(--bl)) !important;
    border: var(--bd);
    border-radius: 12.5px !important;
    color: var(--ft) !important;
}
.el-dropdown-menu__item[data-v-09492909]:hover {
    background-color: var(--cl) !important;
}
/*
--------------------------------------------------
         Changes Markdown Editor Background
--------------------------------------------------
*/
.markdown-editor[data-v-c574a71c] {
    background-color: rgba(var(--tr)) !important;
    backdrop-filter: blur(var(--bl)) !important;
    border: var(--bd);
    border-radius: 12.5px !important;
    color: var(--ft) !important;
}
/*
--------------------------------------------------
         Changes Activity Editor Background
--------------------------------------------------
*/
.input[data-v-c574a71c]{
    background-color: rgba(var(--tr)) !important;
    backdrop-filter: blur(var(--bl)) !important;
    border: var(--bd);
    border-radius: 25px !important;
    color: var(--ft) !important;
    transition: var(--hv) !important;
}
.el-input-group__append, .el-input-group__prepend, .el-input__inner, .el-textarea__inner {
    background-color: transparent !important;
}
/*
--------------------------------------------------
           Adds Hover to Activty Editor
--------------------------------------------------
*/
.input[data-v-c574a71c]:hover {
    transform: scale(1.05);
    opacity: 1 !important;
    filter: none !important;
    backdrop-filter: none !important;
}
.markdown, p {
    opacity: 1 !important;
    filter: none !important;
    backdrop-filter: none !important;
}
/*
--------------------------------------------------
              Adds Load In animation
--------------------------------------------------
*/
.input[data-v-c574a71c] {
    animation: fade 1s 1 ease-in-out;
}
/*
==================================================
               Activity Feed Changes
==================================================
*/
/*
--------------------------------------------------
                Changes Background
--------------------------------------------------
*/
.wrap[data-v-1bf2cf4e] {
    background-color: rgba(var(--tr)) !important;
    backdrop-filter: blur(var(--bl)) !important;
    border: var(--bd);
    border-radius: 15px !important;
    transition: var(--hv) !important;
    color: var(--ft) !important;
}
.reply[data-v-732ef224] {
    background-color: rgba(var(--tr)) !important;
    border: var(--bd);
    border-radius: 15px !important;
    color: var(--ft) !important;
}
/*
--------------------------------------------------
                    Adds Hover
--------------------------------------------------
*/
.wrap[data-v-1bf2cf4e]:hover {
    transform: scale(1.05);
}
/*
--------------------------------------------------
     Changes Background for editing Interface
--------------------------------------------------
*/
.el-dialog__body {
    background-color: rgba(var(--tr)) !important;
    backdrop-filter: blur(var(--bl)) !important;
    border: var(--bd);
    border-radius: 25px !important;
    transition: var(--hv) !important;
    color: var(--ft) !important;
}
.el-dialog__wrapper {
    overflow: visible !important;
    z-index: 99999999999999999;
}
/*
--------------------------------------------------
    Adds Circle Around PFPs & Makes them Bigger
--------------------------------------------------
*/
.avatar[data-v-1bf2cf4e], .avatar[data-v-732ef224] {
    border: 1.5px solid var(--cl);
    border-radius: 100% !important;
    opacity: 50% !important;
    transition: var(--hv);
}
/*
--------------------------------------------------
              Adds Spin Hover Animation
--------------------------------------------------
*/
.wrap:hover .avatar[data-v-1bf2cf4e], .reply:hover .avatar[data-v-732ef224] {
    opacity: 100% !important;
    animation: var(--sp);
}
/*
--------------------------------------------------
   Adds Circle around users who liked the post
--------------------------------------------------
*/
.user[data-v-0bd85c1d] {
    border: 1.5px solid var(--cl);
    border-radius: 100% !important;
    animation: var(--sp);
}
.user[data-v-0bd85c1d]:hover {
    animation: none;
}
.users[data-v-0bd85c1d] {
    background-color: transparent !important;
    overflow: visible;
}
/*
--------------------------------------------------
              Adds Username Hover
--------------------------------------------------
*/
.name[data-v-1bf2cf4e]:hover, .name[data-v-732ef224]:hover {
    text-shadow: var(--sd);
}
/*
--------------------------------------------------
              Changes Username Fonts
--------------------------------------------------
*/
.name[data-v-1bf2cf4e] {
    font-size: 2rem;
    font-family: "Sedgwick Ave";
    color: var(--cl) !important;

}
.name[data-v-732ef224]{
    font-size: 1.75rem;
    font-family: "Sedgwick Ave";
    color: var(--cl) !important;
}
/*
--------------------------------------------------
          Adds Badge after Everyones Name
--------------------------------------------------
*/
.name[data-v-1bf2cf4e]::after {
    content: "Hot Person";
    color: var(--ft);
    text-align: center;
    text-shadow: var(--sd);
    font-size: 1.5rem;
    margin: 0 0 5px 5px;
    border-radius: 30px;
    padding: 4px 8px;
    transition: 1s;
    animation: rainbow 20s infinite ease-in-out;
}
.name[data-v-732ef224]::after {
    content: "Hot Person";
    color: var(--ft);
    text-align: center;
    text-shadow: var(--sd);
    font-size: 1.25rem;
    margin: 0 0 5px 5px;
    border-radius: 10px;
    padding: 4px 8px;
    transition: 1s;
    animation: rainbow 20s infinite ease-in-out;
}
/*
--------------------------------------------------
        Adds Badges only for certain people
--------------------------------------------------
*/
a[href="/user/Polar/"].name::after {
    content: "Best Waifu" !important;
}
a[href="/user/Bays/"].name::after {
    content: "That Bays Guy" !important;
}
a[href="/user/Stickboi/"].name::after {
    content: "Senpai <3" !important;
}
a[href="/user/UselessYokina/"].name::after {
    content: "Inmate | No I didn't forget about You" !important;
}
a[href="/user/HanaAkari/"].name::after {
    content: "Hardcore Fate Fan" !important;
}
a[href="/user/ModChan/"].name::after {
    content: "🤮🤮🤮🤮🤮" !important;
}
a[href="/user/Taluun/"].name::after {
    content: "🤢🤢🤢" !important;
}
a[href="/user/Doyasama/"].name::after {
    content: "Inaaaaaaa" !important;
}
a[href="/user/Sayykii/"].name::after {
    content: "Wassup?" !important;
}
a[href="/user/Indra/"].name::after {
    content: "Fellow African American Man" !important;
}
a[href="/user/Wryznn/"].name::after {
    content: "Mentally Unstable" !important;
}
a[href="/user/SeikatsuOfficial/"].name::after {
    content: "Best Cult" !important;
}
a[href="/user/NEMESIS007/"].name::after {
    content: "Cult Leader" !important;
}
a[href="/user/TRASHLORD/"].name::after {
    content: "Fellow Cult Founder" !important;
}
a[href="/user/SkylarSays/"].name::after {
    content: "Fellow Cult Founder" !important;
}
a[href="/user/Soy/"].name::after {
    content: "Fellow Cult Founder" !important;
}
a[href="/user/dreamyy/"].name::after {
    content: "Fellow Cult Founder" !important;
}
a[href="/user/Altisss/"].name::after {
    content: "Fellow Cult Founder" !important;
}
a[href="/user/Amoshii/"].name::after {
    content: "Fellow Cult Founder" !important;
}
a[href="/user/Purple/"].name::after {
    content: "Fellow Cult Founder" !important;
}
a[href="/user/TastyLemonss/"].name::after {
    content: "Fellow Cult Founder" !important;
}
/*
--------------------------------------------------
                 Time Hover fix
--------------------------------------------------
*/
.time[data-v-1bf2cf4e] {
    background-color: transparent !important;
    font-size: 1.5rem;
    font-family: "Sedgwick Ave";
    color: var(--ft) !important;
}
.actions[data-v-732ef224] {
    background-color: transparent !important;
    font-size: 1.25rem;
    font-family: "Sedgwick Ave";
    color: var(--ft) !important;
}
.action[data-v-732ef224] {
    background-color: transparent !important;
    color: var(--ft) !important;
}
time[data-v-732ef224] {
    background-color: transparent !important;
    color: var(--ft) !important;
}
/*
--------------------------------------------------
              Changes Main Text Font
--------------------------------------------------
*/
.activity-markdown[data-v-1bf2cf4e], .reply-markdown[data-v-732ef224] {
    font-size: 1.25rem;
    font-family: Chilanka;
    color: var(--ft) !important;
}
/*
--------------------------------------------------
                 List Updates Font
--------------------------------------------------
*/
.status[data-v-1bf2cf4e] {
    font-size: 1.5rem;
    font-family: Chilanka;
    color: var(--ft) !important;
}
/*
--------------------------------------------------
   Changes "Load More" Button Background & Font
--------------------------------------------------
*/
.load-more[data-v-6f203cf2] {
    background-color: rgba(var(--tr)) !important;
    backdrop-filter: blur(var(--bl)) !important;
    border: var(--bd);
    border-radius: 50px !important;
    font-family: "Sedgwick Ave";
    font-size: 2rem;
    transition: var(--hv);
    color: var(--ft) !important;
}
/*
--------------------------------------------------
              Adds "Load More" Hover
--------------------------------------------------
*/
.load-more[data-v-6f203cf2]:hover {
    transform: scale(1.075);
    cursor: url("https://cdn.discordapp.com/attachments/860765199233843200/867494441472229396/pack2961_1.png"), auto;
    color: var(--cl) !important;

}
.load-more[data-v-6f203cf2]:active {
background-color: var(--cl) !important;
text-shadow: 0 0 5px black;
cursor: url("https://cdn.discordapp.com/attachments/860765199233843200/867494441472229396/pack2961_1.png"), auto;
}
/*
--------------------------------------------------
     Changes Mod Badge & Private Message Badge
--------------------------------------------------
*/
.donator-badge[data-v-1bf2cf4e] {
    background-color: rgba(var(--tr)) !important;
    backdrop-filter: blur(var(--bl)) !important;
    border: var(--bd);
    border-radius: 50px !important;
    font-family: "Sedgwick Ave";
    font-size: 1.75rem;
}
/*
--------------------------------------------------
              Adds Load In animation
--------------------------------------------------
*/
.wrap[data-v-1bf2cf4e] {
    animation: fade 1s 1 ease-in-out;
}
.reply[data-v-732ef224] {
    animation: pop 0.25s 1 ease-in-out;
}
/*
==================================================
              Activity History Changes
==================================================
*/
/*
--------------------------------------------------
         Changes font for "Activity History"
--------------------------------------------------
*/
.section-header[data-v-b79eb0f0] {
    font-size: 2rem;
    font-family: "Sedgwick Ave";
    color: var(--ft) !important;
}
/*
--------------------------------------------------
                Changes Background
--------------------------------------------------
*/
.activity-history[data-v-b79eb0f0] {
    background-color: rgba(var(--tr)) !important;
    backdrop-filter: blur(var(--bl)) !important;
    border: var(--bd);
    border-radius: 20px !important;
    transition: var(--hv);
}
/*
--------------------------------------------------
                    Adds Hover
--------------------------------------------------
*/
.activity-history[data-v-b79eb0f0]:hover {
    transform: scale(1.075);

}
/*
--------------------------------------------------
             Makes each square Circles
--------------------------------------------------
*/
.history-day[data-v-b79eb0f0], .lv-1[data-v-b79eb0f0], .lv-0[data-v-b79eb0f0] {
    border-radius: 100%;
}
/*
==================================================
         Turns The "Genre Overview" Widget 
            into an "POLAR IS HOT" Ball
==================================================
*/
.desktop[data-v-aedb6876] {
    background-image: url(https://cdn.discordapp.com/attachments/785752822184148992/867235714264203264/POLARISHOT.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: auto;
    animation: move 10s infinite linear forwards, rainbow 10s infinite linear;
}
.content-wrap[data-v-aedb6876] {
    display: none;
}
.section-header[data-v-aedb6876] {
    display: none;
}
/*
==================================================
             Favorites Section Changes
==================================================
*/
/*
--------------------------------------------------
Changes font for Headers ("Anime" "Characters" etc)
--------------------------------------------------
*/
.section-header[data-v-ddf96a3c] {
    font-size: 2rem;
    font-family: "Sedgwick Ave";
    color: var(--ft) !important;
}
/*
--------------------------------------------------
          Adds Border & Lowers Opacity
--------------------------------------------------
*/
.favourite[data-v-0317d914] {
    opacity: 50%;
    border: var(--bd);
    border-radius: 20px !important;
    transition: var(--hv);
    color: var(--ft) !important;
}
/*
--------------------------------------------------
                    Adds Hover
--------------------------------------------------
*/
.favourite[data-v-0317d914]:hover {
    transform: scale(1.2);
    opacity: 1;
    cursor: url("https://cdn.discordapp.com/attachments/860765199233843200/867494441472229396/pack2961_1.png"), auto;
}
.favourites-wrap[data-v-ddf96a3c] {
    overflow: visible;
    background-color: transparent !important;
}
/*
==================================================
                  Footer Changes
==================================================
*/
/*
--------------------------------------------------
                Changes Background
--------------------------------------------------
*/
.footer[data-v-a5dce466] {
    background-color: rgba(var(--tr)) !important;
    backdrop-filter: blur(var(--bl)) !important;
    border: var(--bd);
    border-radius: 20px 20px 0 0 !important;
    max-width: 80%;
    margin: auto;
}
/*
--------------------------------------------------
         Changes Links and "Site Theme" Font
--------------------------------------------------
*/
.links[data-v-a5dce466] {
    font-family: Chilanka;
    font-size: 1.5rem;
    color: var(--ft);
}
a[data-v-a5dce466] {
    color: var(--ft) !important;
}
a[data-v-a5dce466]:hover {
    color: var(--cl) !important;
    text-shadow: var(--sd);
}
h2[data-v-a5dce466] {
    font-family: Chilanka;
    font-size: 1.75rem;
    color: var(--ft);
}
/*
--------------------------------------------------
                Adds "USE DARK MODE"
--------------------------------------------------
*/
.theme-selector[data-v-a5dce466]::after {
    content: "USE DARK MODE";
    font-family: Chilanka;
    font-size: 1.75rem;
    color: var(--cl);
    text-shadow: 0 0 5px black;
}
/*
==================================================
          ANIME LIST & MANGA LIST CHANGES
==================================================
*/
/*
--------------------------------------------------
                Changes Backgrounds
--------------------------------------------------
*/
.list-section {
    background-color: rgba(var(--tr)) !important;
    backdrop-filter: blur(var(--bl)) !important;
    border: var(--bd);
    border-radius: 20px !important;
    color: var(--ft) !important;
}
.theme-switch[data-v-0567dd85] {
    background-color: rgba(var(--tr)) !important;
    backdrop-filter: blur(var(--bl)) !important;
    border: var(--bd);
    border-radius: 20px !important;
}
.el-input {
    background-color: rgba(var(--tr)) !important;
    backdrop-filter: blur(var(--bl)) !important;
    border: var(--bd);
    border-radius: 20px !important;
    color: var(--ft) !important;
    transition: var(--hv) !important;
}
/*
--------------------------------------------------
            Changes Font for all Lists
--------------------------------------------------
*/
.list-section {
    font-family: Chilanka;
    font-size: 2rem;
    color: var(--ft) !important;
    text-shadow: var(--sd) !important;
}
.section-name {
    font-family: "Sedgwick Ave";
    font-size: 2.5rem;
    color: var(--ft) !important;
}
.title > a {
    color: var(--ft) !important;
}
/*
--------------------------------------------------
        Changes Font for all Filter Groups
--------------------------------------------------
*/
span[data-v-063397cc] {
    font-family: Chilanka;
    font-size: 1.5rem;
    color: var(--ft) !important;
}
.group-header[data-v-063397cc] {
    font-family: "Sedgwick Ave";
    font-size: 2rem;
    color: var(--ft) !important;
}
/*
--------------------------------------------------
         Changes Filter Group Dropdowns
--------------------------------------------------
*/
.el-popper {
    background-color: rgba(var(--tr)) !important;
    backdrop-filter: blur(var(--bl)) !important;
    border: var(--bd);
    border-radius: 20px !important;
    color: var(--ft) !important;
} 
.el-select-dropdown__item[data-v-063397cc]:hover {
    background-color: var(--cl);
}
/*
--------------------------------------------------
        Adds Hover for "List" Filter Group
--------------------------------------------------
*/
span[data-v-063397cc]:hover {
    background-color: var(--cl);
}
/*
==================================================
            My Note to the Stat Section
==================================================
*/
.group-header[data-v-1e00b9da]::after {
    content: "Ok Look I got Lazy, and who the fuck looks at Stats anyways, I'm not styling this bullshit bro. This tab is just gonna stay cursed asf";
    font-family: Chilanka;
    font-size: 3.5rem;
    color: var(--ft) !important;
}
/*
==================================================
                SOCIALS TAB CHANGES
==================================================
*/
/*
--------------------------------------------------
             Turns Pfps into Circles
--------------------------------------------------
*/
.avatar[data-v-39573fe2] {
    border: 2px solid var(--ft);
    border-radius: 100% !important;
    transition: var(--hv);
}
.follow-card[data-v-39573fe2] {
    background-color: transparent !important;
}
/*
--------------------------------------------------
                    Adds Hover 
--------------------------------------------------
*/
.avatar[data-v-39573fe2]:hover {
    transform: scale(1.15);
    border: 3px solid var(--cl);

}
.name[data-v-39573fe2] {
    font-family: Chilanka;
    font-size: 1.25rem;
    background-color: rgba(0,0,0,0.35) !important;
    color: var(--ft) !important;
}
/*
--------------------------------------------------
        Changes Background for Forum Comments
--------------------------------------------------
*/
.comment-wrap[data-v-64641129] {
    background-color: rgba(var(--tr)) !important;
    backdrop-filter: blur(var(--bl)) !important;
    border: var(--bd);
    border-radius: 20px !important;
    color: var(--ft) !important;
}
/*
--------------------------------------------------
          Changes Font for Forum Comments
--------------------------------------------------
*/
.title[data-v-ee1a47a4] {
    font-family: "Sedgwick Ave" !important;
    font-size: 2.5rem !important;
    color: var(--ft) !important;
}
.title[data-v-ee1a47a4]:hover {
    color: var(--cl) !important;
}
.header[data-v-64641129] {
    font-family: "Sedgwick Ave";
    font-size: 1.75rem;
    color: var(--cl) !important;
}
.markdown[data-v-64641129] {
    font-family: Chilanka;
    font-size: 1.25rem;
    color: var(--ft) !important;
}
.time[data-v-64641129] {
    color: var(--ft) !important;
}
/*
--------------------------------------------------
          Changes Background for Filters
--------------------------------------------------
*/
.theme-switch {
    background-color: rgba(var(--tr)) !important;
    backdrop-filter: blur(var(--bl)) !important;
    border: var(--bd);
    border-radius: 10px !important;
    color: var(--ft) !important;
}
/*
--------------------------------------------------
             Changes Font for Filters
--------------------------------------------------
*/
.group-header[data-v-e4963b98] {
    font-family: "Sedgwick Ave";
    font-size: 3rem;
    color: var(--ft) !important;
}
span[data-v-e4963b98] {
    font-family: Chilanka !important;
    font-size: 2rem !important;
    color: var(--ft) !important;
}
/*
--------------------------------------------------
      CAN'T STYLE THE BOTTOM THREE SECTION
        CUZ THEY'RE HOH FEATURES :SADGE:
--------------------------------------------------
*/